<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 必须滴 通过namespace 和 dao接口映射 -->
<mapper namespace="com.beifeng.dao.cg.IMeetingInfoDaocg">
<!-- -映射表字段 -->
	<resultMap type="MeetingInfo" id="standardMap">
		<result column="MeetingId" property="meetingId" />
		<result column="MeetingName" property="meetingName" />
	</resultMap>
	<select id="queryMeetInfo" resultMap="standardMap" >
		select * from meetinginfo
	</select>
</mapper>